 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroSubtitle{
  color: #fff !important;
  font-size: 1.5rem;
}

.ctaButton{
  color: var(--ifm-color-primary-lightest);
}

.featuresContainer {
  display: flex; /* Use flexbox for layout */
  justify-content: space-around; /* Distribute items evenly */
  gap: 20px; /* Optional spacing between items */
}